[submodule "external/rapidjson"]
	path = external/rapidjson
	url = https://github.com/Tencent/rapidjson
[submodule "external/unbound"]
	path = external/unbound
	url = https://github.com/arqma/unbound
	branch = arqma
[submodule "external/miniupnp"]
	path = external/miniupnp
	url = https://github.com/arqma/miniupnp
[submodule "external/randomarq"]
	path = external/randomarq
	url = https://github.com/arqma/randomarq
